.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.admin-container h1 {
    margin-bottom: 0;
}

.admin-container span {
    margin-bottom: 32px;
    color: #ccc;
}

.btn-register {
    margin-bottom: 28px;
}

.list {
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(18, 18, 18, 0.38);
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 14px 24px;
}

.list p {
    margin-bottom: 8px;
    max-width: 400px;
    text-align: justify;
}

.list .box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.list button {
    margin-right: 8px;
    border: 0;
    border-radius: 4px;
    padding: 4px;
    background-color: transparent;
    border-radius: 20%;
}

.btn-edit {
    color: #ffcc23;
    margin: auto;
    background-color: transparent;
}

.btn-edit:hover {
    color: #ffcc23;
    background-color: rgba(67, 67, 67, 0.95);
}

.btn-delete {
    color: #b2ff23;
    background-color: transparent;
}

.btn-delete:hover {
    color: #b2ff23;
    background-color: rgba(67, 67, 67, 0.95);
}

.btn-logout {
    position: fixed;
    top: 6%;
    right: 4%;
    height: 60px;
    width: 60px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: bold;
    background-color: rgba(18, 18, 18, 0.38);
    color: white;
    font-size: 16px;
    transition: all 0.5s;
}

.btn-logout:hover {
    background-color: rgba(67, 67, 67, 0.95);
    color: white;
}

.btns-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btns-edit button {
    margin-bottom: 6px;
}

@media screen and (max-width: 768px) {
    .admin-container {
        margin-top: 68px;
    }

    .list p {
        max-width: 30%;
        text-align: left;
    }

    .btn-logout {
        position: absolute;
        top: 6px;
        right: 6px;
    }
}
